<!-- Header Partial -->
<% include ./partials/header %>

        <!-- Contacts UL -->
        <ul id="contacts-ul">
        
            <% contact.forEach(function(contact) { %>
                <li class="list-item">
                    <div class="outer">
                        <div class="avatar">
                            <img src="<%= contact.avatar %>">
                        </div>
                        
                        <!-- Main Contacts Text -->
                        <div class="li-text">
                            <h2><%= contact.firstName %> <%= contact.lastName %></h2>
                            <p><%= contact.number %></p>
                        </div>
                        <div class="flag">
                            <span class="flag-icon flag-icon-gb"></span>
                        </div>
                    </div>
                    
                    <!-- Edit Delete Dropdown -->
                    <div class="action hide">

                        <form class="edit-form" action="/<%= contact._id %>" method="GET">
                            <button class="edit">edit</button>
                        </form>

                        <form class="delete-form" action="<%= contact._id %>?_method=DELETE" method="POST">
                            <button>delete</button>
                        </form>

                    </div>
                </li>  
             <% }); %>
        </ul>

<!-- Footer Partial -->
<% include ./partials/footer %>
